@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    background-color: #F3F1FF;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* player and blog start */
.container{
    background-color: white;
    margin-bottom: 26px;
}

.top-player{
    
    padding: 30px;
    
}
.topsec-title{
    margin-top: 0;
    margin-bottom: 40px;
    color: #562EFF;
    font-size: 24px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    width: 870px;
   
}
.player{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 18px;
   
}
.player img{
    width: 56px;
    margin-right: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    width: 857px;
}

.Blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    width: 870px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}



/* Latest Courses */

.Course-section{
    padding: 30px;
}

.latest-course{
    width: 870px;
    
}
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.course img{
    width: 100%;
}
.course{
    box-shadow: 0px 0px 8px rgb(202, 202, 202);
    width: 252px;
    padding: 13px;
    border-radius: 10px;
    
}

.course-rating{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-star{
    font-size: 12px;
}
.empty{
    color: #AEAEAE;
}
.filled{
    color: #FFC014;

}
.time{
    color: 
    #FF4A60;
    background-color: 
    #FFE4E8;
    border-radius: 50px;
    padding: 5px;
}

/* -------------
 Media Queries 
 --------------*/

 /* Mobile device */
 @media only screen and (max-width:688px) {
     .container{
        width: 100%;
     }
     .players,.Blogs,.courses{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        
     }
     /* .courses{
        display: flex;
        flex-direction: column;
        
     }
     .latest-course{
         width: 100%;
     } */
     
     hr{
         width: 80%;
     }
     
 }